In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
data.shape

(53258, 9)

In [0]:
data.dropna(inplace=True)

In [0]:
reviewcount = []
for index, row in data.iterrows():
  word = row['reviewText'].split()
  freq = [word.count(i) for i in word]
  #print(dict(zip(word, freq)))
  reviewcount.append(dict(zip(word, freq)))

In [8]:
len(reviewcount)

52799

In [0]:
data['reviewText_count'] = reviewcount

In [0]:
summarycount = []
for index, row in data.iterrows():
  wordsum = row['summary'].split()
  freqsum = [wordsum.count(i) for i in wordsum]
  #print(dict(zip(word, freq)))
  summarycount.append(dict(zip(wordsum, freqsum)))

In [0]:
data['summary_count'] = summarycount

In [16]:
data.head()

       reviewerID  ...                                      summary_count
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]