In [0]:
import pandas as pd
import spacy
from spacy.tokenizer import Tokenizer

In [0]:
sp = spacy.load('en')

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
review = pd.DataFrame(data['reviewText'])
review = review.iloc[0:50,:]

In [60]:
review.shape

(50, 1)

In [0]:
def spacylib(stri):
  string = sp(stri)
  token = []
  lemma = []
  pos = []
  dep = []
  noun = []
  for s in string:
    token.append(s.text)
    lemma.append(s.lemma_)
    pos.append(s.pos_)
    dep.append(s.dep_)
    i = list(zip(token,pos))
    for n in i:
      if n[1]=='NOUN':
        noun.append(n[0])
  dic = {'token':token, 'lemma':lemma, 'pos':pos, 'dependency':dep, 'noun':noun}
  return dic

In [0]:
review['Spacy'] = review['reviewText'].apply(spacylib)

In [63]:
review.head(2)

                                          reviewText                                              Spacy
0  I bought my first HP12C in about 1984 or so, a...  {'token': ['I', 'bought', 'my', 'first', 'HP12...
1  WHY THIS BELATED REVIEW? I feel very obliged t...  {'token': ['WHY', 'THIS', 'BELATED', 'REVIEW',...