In [0]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("Bankloan.csv")
data.head()

   age  ed  emply  address  income  debtinc  creddebt  othdebt  default
0   41   3     17       12     176      9.3     11.36     5.01        1
1   27   1     10        6      31     17.3      1.36     4.00        0
2   40   1     15       14      55      5.5      0.86     2.17        0
3   41   1     15       14     120      2.9      2.66     0.82        0
4   24   2      2        0      28     17.3      1.79     3.06        1

In [3]:
data.shape

(700, 9)

In [4]:
data.isna().sum()

age         0
ed          0
emply       0
address     0
income      0
debtinc     0
creddebt    0
othdebt     0
default     0
dtype: int64

In [5]:
col = list(data)
scaler = MinMaxScaler()
data = scaler.fit_transform(data)
data = pd.DataFrame(data, columns=col)
data.head()

        age    ed     emply   address  ...   debtinc  creddebt   othdebt  default
0  0.583333  0.50  0.548387  0.352941  ...  0.217604  0.552311  0.183840      1.0
1  0.194444  0.00  0.322581  0.176471  ...  0.413203  0.065693  0.146405      0.0
2  0.555556  0.00  0.483871  0.411765  ...  0.124694  0.041363  0.078577      0.0
3  0.583333  0.00  0.483871  0.411765  ...  0.061125  0.128954  0.028540      0.0
4  0.111111  0.25  0.064516  0.000000  ...  0.413203  0.086618  0.111564      1.0

[5 rows x 9 columns]

In [0]:
x = data.drop("default", axis=1)
y = data['default']

In [0]:
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.25)

In [0]:
nb = GaussianNB()
model = nb.fit(x_train, y_train)
pred = model.predict(x_test)

In [9]:
confmat = confusion_matrix(y_test, pred)
acc = accuracy_score(y_test, pred)
print("Confusion matrix is: ")
print(confmat)
print(" ")
print("Accuracy is: ", acc)

Confusion matrix is:
[[124  12]
 [ 31   8]]

Accuracy is:  0.7542857142857143