In [0]:
import numpy as np
import pandas as pd
import re
import string

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [101]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
data.dropna(inplace=True)

In [0]:
def regx2(stri):  
  notendbg = []
  corpus = stri.split()
  for x in corpus:
    con1 = re.findall(r'\b[^bB]\w+', x)
    con2 = re.findall(r'\w+[^gG]\b', x)
    if x in con1 and x in con2:
      notendbg.append(x)        
  return notendbg

In [0]:
data['Not_ending_bg'] = data['reviewText'].apply(regx2)

In [105]:
data.head(2)

       reviewerID  ...                                      Not_ending_bg
0  A32T2H8150OJLU  ...  [my, first, HP12C, in, about, 1984, or, and, i...
1  A3MAFS04ZABRGO  ...  [WHY, THIS, feel, very, obliged, to, share, my...

[2 rows x 10 columns]