In [1]:
import pandas as pd
import nltk
from nltk.tokenize import MWETokenizer
from nltk.tokenize import word_tokenize
nltk.download('punkt')
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
from nltk import pos_tag
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
review = pd.DataFrame(data['reviewText'])

In [4]:
review.head(2)

                                          reviewText
0  I bought my first HP12C in about 1984 or so, a...
1  WHY THIS BELATED REVIEW? I feel very obliged t...

In [0]:
def nltklib(string):
  mwe = MWETokenizer()
  lem = WordNetLemmatizer()
  mwetoken = mwe.tokenize(string.split())
  token = word_tokenize(string)
  lemma = lem.lemmatize(string)
  pos = pos_tag(string.split())
  adj = []
  for i in pos:
    if i[1][:2] == 'JJ':
      adj.append(i)
  adj
  dic = {'mwetoken':mwetoken, 'token':token, 'lemma':lemma, 'pos':pos, 'adj':adj}
  return dic

In [0]:
review['NLTK'] = review['reviewText'].apply(nltklib)

In [9]:
review.head(2)

                                          reviewText                                               NLTK
0  I bought my first HP12C in about 1984 or so, a...  {'mwetoken': ['I', 'bought', 'my', 'first', 'H...
1  WHY THIS BELATED REVIEW? I feel very obliged t...  {'mwetoken': ['WHY', 'THIS', 'BELATED', 'REVIE...