In [0]:
import numpy as np
import pandas as pd
import re
import string

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [4]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
data.dropna(inplace=True)

In [0]:
vowels = ['a','e','i','o','u']

In [0]:
def count(stri):
  vow = 0
  con = 0
  word = stri.lower().split()
  wordcount = len(word)
  #return wordcount
  for w in stri.lower():
    if w in vowels:
      vow+=1
    elif w.isalpha():
      con+=1
  dic = {'Word_count': wordcount,
        'Vowel_count': vow,
        'Consonants_count': con}
  return dic

In [0]:
data['Count'] = data['reviewText'].apply(count)

In [10]:
data.head(2)

       reviewerID  ...                                              Count
0  A32T2H8150OJLU  ...  {'Word_count': 186, 'Vowel_count': 279, 'Conso...
1  A3MAFS04ZABRGO  ...  {'Word_count': 911, 'Vowel_count': 1504, 'Cons...

[2 rows x 10 columns]

In [0]:
def regx1(str):
  str.translate(str.maketrans('', '', string.punctuation))
  bg = re.findall(r'\b[bB]\w+ | \w+[gG]\b', str)
  return bg
#\b gives the boundary of the word
#r is for regex

In [0]:
data['Words bg'] = data['reviewText'].apply(regx1)

In [14]:
data.head(2)

       reviewerID  ...                                           Words bg
0  A32T2H8150OJLU  ...  [bought ,  travelling, but , by , buy ,  49G, ...
1  A3MAFS04ZABRGO  ...  [BELATED ,  sharing,  burying,  praising,  inc...

[2 rows x 11 columns]